/* Container principal da página de componentes */
.componentesContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 16px;
  width: 100%;
  padding-left: 12px;
  padding-right: 100px;
}

/* Título da página */
.titulo-pagina {
  font-size: 1.0rem;
  margin-bottom: 8px;
  color: #115239;
}

/* Grade para exibição dos produtos */
.grid-produtos {
  display: grid;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

/* Ajuste da grade para tablets */
@media (min-width: 768px) {
  .grid-produtos {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 600px;
  }
}

/* Ajuste da grade para desktops */
@media (min-width: 1024px) {
  .grid-produtos {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1100px;
  }
}

/* Card de componente centralizado dentro da célula da grade */
.card {
  width: 100%;
  display: flex;
  justify-content: center;
}
